includes:
  - phpstan-baseline.neon
  - vendor/andersundsehr/phpstan-git-files/extension.php

parameters:
  level: 8
  reportUnmatchedIgnoredErrors: false
  typo3:
      requestGetAttributeMapping:
          server-timing:middleware:inward: Kanti\ServerTiming\Dto\StopWatch|null
