includes:
  - phpstan-baseline.neon
  - vendor/andersundsehr/phpstan-git-files/extension.php

parameters:
  level: 8
  reportUnmatchedIgnoredErrors: false
  typo3:
      requestGetAttributeMapping:
          middleware.in.total: Kanti\ServerTiming\Dto\StopWatch|null
  excludePaths:
    - Classes/SqlLogging/SqlLoggerCore11.php
