parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$loggers of class Doctrine\\\\DBAL\\\\Logging\\\\LoggerChain constructor expects iterable\\<Doctrine\\\\DBAL\\\\Logging\\\\SQLLogger\\>, array\\<int, Doctrine\\\\DBAL\\\\Logging\\\\SQLLogger\\|TYPO3\\\\CMS\\\\Adminpanel\\\\Log\\\\DoctrineSqlLogger\\> given\\.$#"
			count: 1
			path: Classes/Middleware/AdminpanelSqlLoggingMiddleware.php
