<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         cacheDirectory="var/.phpunit.cache"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true">
  <testsuites>
    <testsuite name="default">
      <directory>Tests</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <html outputDirectory="var/test-result/"/>
      <clover outputFile="var/test-result/clover.xml"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">Classes</directory>
    </include>
  </source>
</phpunit>
